<%- include('header') -%>
<style>
    .main-navbar{
      border-bottom: 1px solid #ccc;
    }
    .main-navbar .top-navbar{
      background-color: #383d44;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .main-navbar .top-navbar .brand-name{
      color: #fff;
    }
    .main-navbar .top-navbar .nav-link{
      color: #fff;
      font-size: 16px;
      font-weight: 500;
    }
    .main-navbar .top-navbar .dropdown-menu{
      padding: 0px 0px;
      border-radius: 0px;
    }
    .main-navbar .top-navbar .dropdown-menu .dropdown-item{
      padding: 8px 16px;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
    }
    .main-navbar .top-navbar .dropdown-menu .dropdown-item i{
      width: 20px;
      text-align: center;
      color: #859ec7;
      font-size: 14px;
    }
    .main-navbar .navbar{
      padding: 0px;
      background-color: #ddd;
    }
    .main-navbar .navbar .nav-item .nav-link{
      padding: 8px 20px;
      color: #000;
      font-size: 15px;
    }
    
    @media only screen and (max-width: 600px) {
      .main-navbar .top-navbar .nav-link{
          font-size: 12px;
          padding: 8px 10px;
      }
    }

    .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; /* Adjust the top margin as needed */
  }

  .pagination a {
    padding: 8px 12px;
    margin: 0 5px;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
  }

  .pagination a.active {
    background-color: #000000;
    color: #fff;
    border-color: #ffffff;
  }

  /* Custom style for responsive search bar */
  @media (max-width: 767px) {
		  .custom-search .input-group {
			width: 100%;
      color: #fff;
		  }
		}


		#suggestions-container {
            position: absolute;
            top: 100%;
            left: 0;
            width: calc(100% - 2px);
            /* Adjust the width to fit the input */
            padding-left: 10px;
            background-color: #fff;
            border: 1px solid #ffffff;
            border-radius: 0 0 0.25rem 0.25rem;
            z-index: 1000;
            max-height: 200px;
            overflow-y: auto;
            display: none;
        }

        .input-group:focus-within #suggestions-container {
            display: block;
        }

        .suggestion-item {
            padding: 0.5rem;
            cursor: pointer;
        }

        .suggestion-item:hover {
            background-color: #ffffff;
      }
 

    </style>

<div class="main-navbar shadow-sm sticky-top bg-white">
    <div class="top-navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                   <a href="/userHome"><h5 class="brand-name">My Cart</h5></a> 
                </div>

                <div class=" ">
                  <form class="custom-search ">
                    <div class="input-group">
                    <input style="background-color: rgb(255, 255, 255); width: 50vh;" type="text" id="searchInput" oninput="performSearch()" autocomplete="off" class="form-control rounded-left " placeholder="Search...">
                    <div class="input-group-append">
                    </div>
                    <div id="suggestions-container"  class="suggestions-container"></div>
      
                    </div>
                  </form>
                </div>

                <div class="col-md-5 my-auto">
                    <ul class="nav justify-content-end">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">
                                <i class="fa fa-shopping-cart"></i> Cart 
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-heart"></i> Wishlist (0)
                            </a>
                        </li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user"></i> Profile
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profile"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="/profile/orders"><i class="fa fa-list"></i> My Orders</a></li>
                            <!-- <li><a class="dropdown-item" href="#"><i class="fa fa-heart"></i> My Wishlist</a></li> -->
                            <li><a class="dropdown-item" href="/cart"><i class="fa fa-shopping-cart"></i> My Cart</a></li>
                            <li><a class="dropdown-item" href="/login"><i class="fa fa-sign-out"></i> Login</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>


  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <% productdb.forEach(product => { %>
                <div class="col mb-5">
                    <div class="card h-80">
                        <!-- Product image-->
                        <img class="card-img-top" src="<%= product.img[0] %>" alt="Product Image" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder"><%= product.productname %></h5>
                                <!-- Product price-->
                                ₹<%= product.price %>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="/productdet/<%= product._id %>">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</section>







<div class="pagination">
    <% if (page > 1) { %>
      <a href="/shop?page=<%= page - 1 %>&pageSize=<%= pageSize %>">Previous</a>
    <% } %>
  
    <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="/shop?page=<%= i %>&pageSize=<%= pageSize %>" class="<%= page === i ? 'active' : '' %>">
        <%= i %>
      </a>
    <% } %>
  
    <% if (page < totalPages) { %>
      <a href="/shop?page=<%= page + 1 %>&pageSize=<%= pageSize %>">Next</a>
    <% } %>
</div>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const page = parseInt(urlParams.get('page')) || 1;
    const pageSize = parseInt(urlParams.get('pageSize')) || 10;
    const totalPages = 5; // Update this with the total number of pages
  
    // Update pagination links with the current page and pageSize
    const paginationLinks = document.querySelectorAll('.pagination a');
    paginationLinks.forEach(link => {
      const linkPage = parseInt(link.getAttribute('href').split('=')[1]) || 1;
      link.href = `/shop?page=${linkPage}&pageSize=${pageSize}`;
    });
  </script>


<script>
  function handleClickOutside(event) {
    const suggestionsContainer = document.getElementById('suggestions-container');
    const searchInput = document.getElementById('searchInput');

    if (event.target !== searchInput && !searchInput.contains(event.target)) {
        suggestionsContainer.style.display = 'none'; // Hide the suggestions when clicking outside
    }
	}

    function performSearch() {
    const searchInput = document.getElementById('searchInput').value;
    fetch(`/searchproducts?search=${searchInput}`)
        .then(response => response.json())
        .then(data => {
            const suggestionsContainer = document.getElementById('suggestions-container');
            suggestionsContainer.innerHTML = ''; 

            console.log("data from ", data.products);

            if (data.products.length > 0) {
                data.products.forEach(product => {
                    const suggestionDiv = document.createElement('div');
                    suggestionDiv.classList.add('suggestion-item', 'larger-size');
                    suggestionDiv.textContent = product.productname;
                    suggestionDiv.addEventListener('click', () => {
                        window.location.href = `/productdet/${product._id}`;
                    });
                    suggestionsContainer.appendChild(suggestionDiv);
                });
            } else {
                const noSuggestionDiv = document.createElement('div');
                noSuggestionDiv.classList.add('suggestion-item', 'larger-size');
                noSuggestionDiv.textContent = 'No products found.';
                suggestionsContainer.appendChild(noSuggestionDiv);
            }
            suggestionsContainer.style.display = 'block';
        })
        .catch(error => {
            console.error('Error:', error);
        });
     }
   
</script>



<%- include('footer') -%>